.container { color: white;
}
.card-body {background-color: red;}
.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: grey;
    border-color: grey; /*set the color you want here*/
}
body { background-color: black;
margin-bottom: 2cm;}


#logo img{
    width:75%;
    margin-left: auto;
    margin-right: auto; 
    display: block;
 
}

.nav-item { 
	font-family: Bangers; 
}